/*
 * Author: Roshan Jerad Perera
 * URL: http://webresume.net
 *
 * Project Name: WEB Resume - Material
 * Version: 1.2
 * Release date: 02-06-2015
 * URL: http://webresume.net/material
 */


/* ==========================================================================
   Base Styles and Bootstrap Modifications
   ========================================================================== */

@primecolor : #99b2b7 ;
@secondcolor : #4E5D6C ;
@primetextcolor : #4E5D6C;
@secondtextcolor: #2C3C3F;
@linkhover : #D8DDE2;

html,
body {
    height: 100%;
	font-family: 'Roboto', sans-serif;
	background: #FDFDFD;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
	}


h4,h5  { font-family: 'Roboto', sans-serif; color:@primetextcolor; }

strong {color:@secondtextcolor;}

small  {color:@secondtextcolor;}

h1 {
	font-family: 'Roboto', sans-serif; 
	font-weight:500;
	font-size: 50px; 
	color: @primetextcolor; 
	}

h2 {
	font-family: 'Roboto', sans-serif; 
	color:@primetextcolor; 
	font-size:35px;}

h3 {
	font-family: 'Roboto', sans-serif; 
	color:@primetextcolor; }

a { color: @primetextcolor;}

a:hover {color: @linkhover; }

p {color: @secondtextcolor;}


	
/*===========================
  --- Section 1 ----
=========================== */

#section-1 {
	height:650px;
	background: @primecolor;
}

#section-1 h1 {color:#FDFDFD;}

.userimg {
	margin-top:120px;
    height:130px;
	width:130px;
    border-radius: 15px;
} 

.mainmenu {
	margin-top:100px;
}

.btn-default {margin-left:5px;}


/*===========================
  --- Section 2 ----
=========================== */


#section-2 {
height: 550px;
padding-bottom:25px;
padding-top:50px;
}

.userimg2 {
	margin-top:25px;
    border-radius: 15px;
	height:400px;
	width:400px;
} 

.mainsection {border-right: solid @secondcolor ;}

.mainsection2 h4 {margin-top:35px; margin-left:30px;}



/*===========================
  --- Section 3 ----
=========================== */


#section-3 h1 { padding-bottom:30px;}

#section-3 {padding-bottom:50px; padding-top:50px;}

#myStat, #myStat2, #myStat3, #myStat4{ color: @secondcolor;}



/*===========================
  --- Section 4 ----
=========================== */


#section-4 { 
	padding-bottom:50px; 
	padding-top:50px;
}

.fa  {color:@primecolor;}

#section-4 h1 { padding-bottom:50px;}

.qfn {
	border-radius:30px; 
	background-color: #E8EDEE; 
	padding: 10px; 
}
	
	
/*===========================
  --- Section 5 ----
=========================== */


#section-5 h1 { padding-bottom:50px;}

#section-5 {padding-bottom:50px; padding-top:50px;}
 
.work1 {
	padding-right:30px; 
	padding-bottom: 20px; 
	padding-top:20px; 
	border-right: solid @secondcolor;
}

.work2 {
	padding-left:30px; 
	padding-bottom: 20px; 
	padding-top:20px;
}

		
/*===========================
  --- Section 6 ----
=========================== */


#section-6 { padding-bottom:100px; padding-top:50px;}
#section-6 h1 { padding-bottom:30px;}


/*===========================
  --- Section 7 ----
=========================== */


#section-7 { 
	background-color:@primecolor; 
	padding-bottom:10px; 
	padding-top:50px;
}

#section-7 h1 { color: #FDFDFD; padding-bottom:30px;}

#section-7 .fa {color: @secondcolor;}

#section-7 .fa:hover {color: @linkhover;}


/*==============================
  --- Mobile Optimization ----
============================= */


@media screen and (max-width: 980px) {

.qfn  {margin-bottom:30px;}

}


@media screen and (max-width: 480px) {
    
.work1 {
	padding-right:0; 
	padding-bottom: 0; 
	padding-top:0; 
	border-right: none;
    text-align: center;
}

.work2 {
	text-align: center;
}

}

